<nav>
 	<div clas="site-title">
 		<a href="/"><h1>Pablo's Pollution App</h1></a>
 		<p>A RESTful Node.js project for start2impact</p>
 	</div>
 	<ul>
 		<li><a href="/">Home</a></li>
 		<li><a href="/pollution">Pollution List</a></li>
 		<li><a href="/cities">Cities Database</a></li>
 		<li><a href="/blogs">Blog</a></li>
 	</ul>
</nav>