<html lang="en">

 	<%- include('./partials/head.ejs') %>

 <body>

 	<%- include('./partials/nav.ejs') %>


 	<div class="about-project content">
 		<h2>What's this Project?</h2>
 	 <p>This project is about making a RESTful Node.js App with Express, MongoDB and Ejs, just to achieve the ME(..)N Stack in the future and to achieve the FullStack Development path on <a href="https://www.start2impact.it">🚀start2impact</a></p>
 	</div>

 	<div class="works-project content">
 		<h2>How it works?</h2>
 	 <p>This project works as a <i>User Generated Database</i> about pollution in Italy. You can Sign up and then you can upload a photo of a polluted place with coordinates and some description.</p>
 	</div>

 	<div class="info-project content">
 		<h2>Where i can get more information?</h2>
 	 <p>I've documented every day of coding this app on my <a href="https://github.com/Palvoluss/App-Journey-1">repo on GitHub</a>. There you can find everything i've struggle with and how i've created this app.</p>
 	</div>


 	<div class="info-project content">
 		<h2>It's Finished?</h2>
 	 <p>Of course not! This is the first release of the app, i've added a lot of things for the frist time, so probably there are some bug i didn't notice yet due to my inexperience. I would like to complete this app with all the features i've projected but it will not be my main goal in the next month. So i will be really glad if you'll want to fork this project and build your personal app or if you'll want to contribute to my repo.</p>
 	</div>

 </body>

 	<%- include('./partials/footer.ejs') %> 

 </html>