<h1></h1><html lang="en">

 	<%- include('./partials/head.ejs') %>

 <body>

 	<%- include('./partials/nav.ejs') %>


 	<div class="blogs-content">
 		<h2>All Blogs</h2>
 	</div>

 </body>

 	<%- include('./partials/footer.ejs') %> 

 </html>