<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-pollution content">
    <form class="addPoll" action="/pollution/upload" method="POST" enctype="multipart/form-data">
      <label for="pollution_type">Pollution Type:</label>
      <input type="text" id="pollution_type" name="pollution_type" required placeholder="Land, Water, Noise or Light.">
      <label for="description">Pollution description:</label>
      <input type="text" id="description" name="description" required>
      <input type="file" name="photoInput" id="photo">
      <button class="geo_btn">Append Coords</button>
      <input type="text" id="coords" name="loc" required>

      <button>Submit</button>
    </form>
  

</body>

<script type="text/javascript"> 
  const useGeolocation = document.querySelector('.geo_btn')
    useGeolocation.addEventListener('click', userGeo)

  function userGeo () {
    navigator.geolocation.getCurrentPosition(function (position) {
      latitude = position.coords.latitude
      longitude = position.coords.longitude
      document.getElementById('coords').value = (longitude +','+ latitude)
    })
  }

  
  </script>


  <%- include("./partials/footer.ejs") %>
</html>