<html lang="en">

 	<%- include('./partials/head.ejs') %>

 <body>

 	<%- include('./partials/nav.ejs') %>


 	<div class="create-blog content">
 		<h2>Upload Pollution</h2>
 		<form>
 			<label for="Pollution Type:"></label>
 			<input type="text" id="pollution_type" placeholder="Pollution types can be: Land, Water, Noise & Light" required>
 			<label for="Photo"></label>
 			<input type="text" id="photo">
 			<label for="Description:"></label>
 			<input type="text" id="description" placeholder="a brief description that could describe the photo better">
 			<button>Upload</button>
 		</form>
 	</div>

 </body>

 	<%- include('./partials/footer.ejs') %> 

 </html>